<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bomb1.png</key>
		<dict>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>113</integer>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>113</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bomb2.png</key>
		<dict>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>113</integer>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>113</integer>
			<key>x</key>
			<integer>112</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bomb3.png</key>
		<dict>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>113</integer>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>113</integer>
			<key>x</key>
			<integer>224</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bomb4.png</key>
		<dict>
			<key>width</key>
			<integer>110</integer>
			<key>height</key>
			<integer>113</integer>
			<key>originalWidth</key>
			<integer>110</integer>
			<key>originalHeight</key>
			<integer>113</integer>
			<key>x</key>
			<integer>336</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>textureFileName</key>
		<string>Bomb20.png</string>
		<key>realTextureFileName</key>
		<string>Bomb20.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
